@model UserManagement.Web.Models.Users.ViewUser

@{
    var model = Model;
}

<h2 class="mb-3">Delete User</h2>


<form asp-action="DeleteUser">
    <div class="mb-3">
        <label class="form-label">Forename</label>
        <input class="form-control" name="Forename" disabled value="@Model.Forename" />
    </div>
    <div class="mb-3">
        <label class="form-label">Surname</label>
        <input class="form-control" asp-for="Surname" disabled value="@Model.Surname">
    </div>
    <div class="mb-3">
        <label class="form-label">Date of Birth</label>
        <input class="form-control" asp-for="DateOfBirth" disabled value="@Model.DateOfBirth">
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input class="form-control" asp-for="Email" disabled value="@Model.Email">
    </div>
    <div class="mb-3">
        <input type="checkbox" class="form-check-input" asp-for="IsActive" disabled value="@Model.IsActive">
        <label class="form-label">Is Active</label>
    </div>
    <button type="submit" class="btn btn-primary mb-3 float-end">Submit Delete</button>
</form>

<div>
    <a asp-controller="Users" asp-action="Index" class="btn btn-primary"> Back to List </a>
</div>

